/_largest_cc_1th_ord.nii.gz
/sss.nii.gz
/Case2_CT_out.nii.gz
/out.nii.gz
/Case3_CT_out.nii.gz
/after.nii.gz
/_out.nii.gz
/Case4_CT_out.nii.gz
/out_th_using imin: 70, and imax: 165.nii.gz
/Case1_CT_out.nii.gz
/out3.nii.gz
